/src/session/
/src/lammps_bgrid_log.tmp
/src/lammps_input.tmp
/src/mala.pw.scf.in
/test/
/test_data/
/src/mala.pw.scf.in
**/__pycache__/
**/.idea/
/src/cache-directory/
*.tmp
*.iml
*.xml
*.txt
/malaWeb.egg-info
/.idea
*.pyc