.wrapper = {
    width: 100%;
}
.sidebar = {

    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 16rem;
    padding: 2rem 1rem;
    background-color: #f8f9fa;


}

.logo {
    display: block;
    margin-right: auto;
    margin-left: auto;

}


.content = {
    margin-left: 18rem;
    margin-right: 2rem;
    padding: 2rem 1rem;

}
