.greetings {
    text-align: center;
    color: white;
}

.logo {
    display: block;
    width: 8rem;
    margin-right: auto;
    margin-left: auto;
    justify-content: center;
}


.upload-failure {
    border-color: red;
}

.upload-success {
    border-color: green;
}